@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1639625752384') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixin:before {
  content: "\f0106";
}

.icon-xiangzuojiantou:before {
  content: "\e660";
}

.icon-shouji:before {
  content: "\e60e";
}

.icon-duihao:before {
  content: "\eaf1";
}

.icon-guanyu_o:before {
  content: "\eb77";
}

