@font-face {
  font-family: "icon"; /* Project id  */
  src: url('iconfont.ttf?t=1652411378040') format('truetype');
}

.icon {
  font-family: "icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwuche:before {
  content: "\e611";
}

.icon-wode:before {
  content: "\e642";
}

.icon-shouye:before {
  content: "\e8c6";
}

.icon-fenlei:before {
  content: "\e789";
}

.icon-xiasanjiaoxing:before {
  content: "\e643";
}

.icon-shangsanjiaoxing:before {
  content: "\e644";
}

.icon-sousuo:before {
  content: "\e613";
}

.icon-shuxian:before {
  content: "\e638";
}

.icon-zuojiantou:before {
  content: "\e60b";
}

.icon-youjiantou_huaban:before {
  content: "\e63e";
}

