html {
	font-size: 100px;
	/* 定下一个标准  1rem==100px */
}
.mid {
	width: 7.5rem;
	margin: 0 auto;
	position: fixed;
	top: .88rem;
	bottom: 1rem;
	left: 0;
	overflow: scroll;
}

.banner {
	width: 7.5rem;
	height: 4rem;
	overflow: hidden;
	position: relative;
}

.banner ul li {
	float: left;
}
.banner ul li img{
	width: 7.5rem;
	height: 4rem;
}
.banner ol{
	position: absolute;
	bottom: .1rem;
	left: 3.45rem;
}
.banner ol li{
	float: left;
	width: .2rem;
	height: .2rem;
	margin-left: .1rem;
	background-color:orange;
	border-radius: 50%;
	opacity: 0.6;
	
}

.banner ol li.on{
	opacity: 1;
}
.icons{
	width: 7.5rem;
	height: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.icons ul{
	width: 7.5rem;
	height: 3.4rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
}
.icons ul li{
	width: 2.48rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.icons ul li p{
	font-size: .2rem;
	font-family: "苹方";
	color: #000;
	padding-top: .3rem;
}
.icons ul li img{
	width: 25%;
}
.f_img{
	width: 7.5rem;
	height: 3rem;
}
.f_img img{
	width: 7.5rem;
	height: 3rem;
}


@media screen and (max-width:375px) {
	html {
		font-size: 50px;
	}

}
