html {
	font-size: 100px;
	/* 定下一个标准  1rem==100px */
}

body {
	font-size: 16px;
}

.order {
	width: 7.5rem;
	height: 1.4rem;
	position: fixed;
	top: .88rem;
	left: 0;
	border-bottom: 0.01rem solid #dbdcde;
	background-color: white;
}

.address {
	width: 7.1rem;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.address_l {
	width: 4rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.address_l h1 {
	font-size: .32rem;
	font-family: "黑体";
	color: #333333;
}

.address_l h1 span {
	padding-left: .2rem;
	font-size: .22rem;
	font-family: "苹方";
	color: #999999;
}

.address_l h3 {
	font-size: .26rem;
	font-family: "苹方";
	color: #333333;
}

.address_l h3 span {
	font-size: .3rem;
	padding-left: .1rem;
}

.address_r {
	width: 2.4rem;
	height: 1.4rem;
	display: flex;
	align-items: center;
}

.btn {
	width: 2.4rem;
	height: .8rem;
	border: 0.02rem solid #ffca00;
	border-radius: .5rem;
	font-size: .32rem;
	font-family: "苹方";
	color: #fdd100;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: flex-end;
	align-items: center;
}

.btn span.this {
	width: 1.3rem;
	height: .7rem;
	border-radius: .5rem;
	text-align: center;
	line-height: .7rem;
	background-color: #ffca00;
	color: white;
}

.body {
	width: 7.5rem;
	height: 9rem;
	margin: 0 auto;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	background-color: #f4f5f7;
	margin-top: 2.29rem;
}

.body h2 {
	font-size: .32rem;
	font-family: "苹方";
	color: #333;
}

.body img {
	width: 3.33rem;
	height: 2.21rem;
}

.bottom {
	width: 7.5rem;
	height: 1.2rem;
	position: fixed;
	bottom: 1rem;
	left: .1rem;
	background-color: white;
}

.price {
	width: 7.1rem;
	height: .88rem;
	border-radius: 0.5rem;
	box-shadow: 0.01rem 0.03rem 0.05rem #999999;
}

.pic {
	position: absolute;
	bottom: .4rem;
	left: .4rem;
}

.pic img {
	width: .87rem;
	height: 1.25rem;
}

.money {
	position: absolute;
	top: 0.04rem;
	left: 1.4rem;
	text-align: center;
	line-height: .88rem;
}

/* .money span{
	font-size: .36rem;
	color: #0F0F0F;
} */
.money p {
	font-size: .2rem;
	font-family: "苹方";
	color: #999999;
}

.jie {
	width: 2rem;
	height: .88rem;
	position: absolute;
	right: .2rem;
	background-color: #333;
	border-radius: 0 .5rem .5rem 0;
	text-align: center;
	line-height: .88rem;
	font-size: .32rem;
	color: white;
	font-family: "苹方";
}

@media screen and (max-width:375px) {
	html {
		font-size: 50px;
	}

}
