html {
	font-size: 100px;
	/* 定下一个标准  1rem==100px */
}

body {
	font-size: 16px;
}

.list {
	width: 7.5rem;
	margin: 0 auto;
	background-color: #f4f2f2;
	position: fixed;
	top: .88rem;
	left: 0;
	bottom: 1.88rem;
	overflow: scroll;
}

.list ul li {
	width: 8.5rem;
	height: 2.5rem;
	display: flex;
	background-color: white;
	border-bottom: 0.01rem solid #bfbfbf;
}

.list ul li.on {
	transform: translateX(-1.5rem);
}

.point {
	width: .9rem;
	height: 2.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.checked,
.checkall {
	width: .42rem;
	height: .42rem;
	border: 0.01rem solid #bfbfbf;
	border-radius: 50%;
}

.checked img {
	width: .42rem;
	height: .42rem;
}

.r {
	width: 6.6rem;
	height: 2.5rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.r img {
	width: 2.1rem;
	height: 2rem;
}

.text {
	width: 4.3rem;
	height: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.text h2 {
	font-family: "黑体";
	font-size: .28rem;
	color: #181818;
}

.price {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.price span {
	font-size: .28rem;
	color: #ff7800;
}

.price span b {
	font-size: .36rem;
}

.number {
	width: 2rem;
	height: .6rem;
	border: 0.01rem solid #bfbfbf;
	border-radius: .05rem;
	display: flex;
	flex-direction: row;
}

.jian {
	width: .6rem;
	height: .6rem;
	outline: none;
	border: 0.01rem solid #bfbfbf;
	font-size: .2rem;
	color: #3c3b3b;
}

.jia {
	width: .6rem;
	height: .6rem;
	outline: none;
	border: 0.01rem solid #bfbfbf;
	font-size: .36rem;
	color: #3c3b3b;
}

.number input[type="text"] {
	width: .8rem;
	height: .6rem;
	font-size: .4rem;
	outline: none;
	border: none;
	text-align: center;
	background: none;
}

.pay {
	width: 7.5rem;
	height: .88rem;
	position: fixed;
	bottom: 1rem;
	left: 0;
	background-color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.txt {
	width: 4rem;
	height: .88rem;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.txt img {
	width: .42rem;
	height: .42rem;
}

.txt span {
	font-size: .28rem;
	color: #888888;
}

.txt span b {
	color: #ff7800;
}

.pay button {
	width: 2.2rem;
	height: .88rem;
	color: white;
	font-size: .28rem;
	background-color: #FF7800;
	border: none;
}

.del {
	width: 1rem;
	height: 2.5rem;
	background-color: red;
	color: white;
	font-size: .36rem;
	line-height: 2.5rem;
	text-align: center;
}

.bg {
	position: absolute;
	top: 25%;
	left: .96rem;
}

.bg img {
	width: 5.58rem;
	height: 3.43rem;
}

.bg p {
	font-family: "黑体";
	font-size: .36rem;
	color: #3e3e3e;
	text-align: center;
}

.into {
	height: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.into img {
	width: .42rem;
	height: .42rem;
}

.into span {
	font-size: .28rem;
	font-family: "黑体";
	color: #888888;
}
#num {
	width: .32rem;
	height: .32rem;
	background-color: #e94f4f;
	font-size: .22rem;
	color: white;
	border-radius: 50%;
	text-align: center;
	line-height: .32rem;
	position: absolute;
	bottom: 0.65rem;
	right: 1.6rem;
}
@media screen and (max-width:375px) {
	html {
		font-size: 50px;
	}

}
