html{
		 font-size: 100px; /* 定下一个标准  1rem==100px */
	 }
body{
	 		 font-size: 16px;
	 }
.black{
	width: 100% !important;
	height: 100% !important;
	position: fixed;
	top: 0rem;
	left: 0rem;
	opacity: 0.5;
	background-color: black;
	z-index: 1;
}
.wechat_use{
	width: 7.5rem;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 0rem;
	left: 0rem;
	z-index: 2;
}
.use_box{
	width: 7.1rem;
	margin: 0rem auto;
}
.use_head{
	width: 7.1rem;
	height: .6rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: .2rem 0;
	position: relative;
}
.use_head img{
	width: .6rem;
	height: .6rem;
}
.use_head span{
	font-size: .28rem;
	font-family: "苹方";
	color: #181818;
	padding-left: .2rem;
}
.icon{
	margin-right: 0rem;
	position: absolute;
	right: 0rem;
}
.icon span{
	font-size: .4rem;
	color: #0fbd0d;
}
.use_box p{
	font-size: .36rem;
	font-family: "黑体";
	color: #181818;
	padding: .3rem 0;
}
.phone{
	width: 7.1rem;
	height: .9rem;
	margin: .2rem 0;
	font-size: .3rem;
	color: #7e7e7e;
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;
	border-top: 0.01rem solid #cbcbcb;
	border-bottom: 0.01rem solid #CBCBCB;
}
.phone b{
	font-family: "苹方";
	color: #181818;
	padding-right: .3rem;
}
.use_box a{
	font-size: .32rem;
	font-family: "苹方";
	color: #576b95;
}
.button{
	width: 7.1rem;
	height: .73rem;
	margin: 0.3rem 0;
	
}
.button input{
	width: 3.35rem;
	height: .73rem;
	font-weight: bold;
	font-size: .32rem;
	font-family: "苹方";
	color: white;
	border-radius: .1rem;
	outline: none;
	border: none;
	background-color: #07c160;
}
.button input[value="拒绝"]{
	color: black;
	background-color: #ededed;
	padding-right: .3rem;
}
@media screen and (max-width:375px) {
		 html{ font-size: 50px;}
		 
	 }