 html{
		 font-size: 100px; /* 定下一个标准  1rem==100px */
	 }
.daohang{
	width: 7.5rem;
	height: .85rem;
	margin: 0rem auto;
	display: flex;
	justify-content: center;
	border-bottom: 0.01rem solid #E9E9E9;
	margin-bottom: .2rem;
	background-color: white;
	position: fixed;
	top: 1.75rem;
}
.daohang ul{
	width: 6.5rem;
	height: .85rem;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: space-between;
}
.daohang ul li{
	float: left;
	width:1.6rem ;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
.daohang ul li a{
	font-size: .32rem;
	font-family: "苹方";
	color: #666666;
}
.daohang ul li span{
	font-size: .24rem;
}
.daohang ul li.on a,.daohang ul li:hover a{
	color: #ff5e46;
}
.mid{
	width: 7.5rem;
	margin: 0 auto;
	overflow: hidden;
	padding-top: 2.65rem;
}
.mid ul{
	height: 13rem;
}
.mid ul li{
	height: 2.6rem;
}
.mid_left{
	width: 2.2rem;
	height: 2.2rem;
	float: left;
}
.mid_left img{
	width: 2.2rem;
	height: 2.2rem;
}
.mid_right{
	width: 5rem;
	height: 2.2rem;
	float: right;
}
.mid_right h3{
	font-size: .28rem;
	font-family: "黑体";
	color: #666666;
}
.text{
	width: 3rem;
	height: .8rem;
	float: left;
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
}
.buy{
	width: 1.45rem;
	height: .5rem;
	float: right;
	border: 0.01rem solid #ff5e46;
	border-radius: .5rem;
	text-align: center;
	background-color: #FF5E46;
	overflow: hidden;
	margin-top: 1.15rem;
}
.buy span{
	font-size: .24rem;
	font-family: "苹方";
	color: white;
	display: block;
	padding-top: 0.08rem;
}
.text p{
	font-size: .36rem;
	color: #ff5e46;
}
.text p span{
	font-size: .26rem;
	color: #999999;
	padding-left: .2rem;
	text-decoration:line-through;/* 删除线 */
}
.text b{
	font-size: .22rem;
	font-family: "苹方";
	color: #999999;
}
.text b span{
	padding-left: .4rem;
}
@media screen and (max-width:375px) {
		 html{ font-size: 50px;}
		 
	 }