 html{
		 font-size: 100px; /* 定下一个标准  1rem==100px */
	 }
.body_box{
	width: 7.5rem;
	margin-top: 1.76rem;
	overflow: scroll;
	display: flex;
	justify-content: center;
}
.small_box{
	width: 7.5rem;
	display: flex;
	flex-direction: column;
}
.date{
	width: 6.7rem;
	align-self: center;
}
.date_time{
	width: 6.7rem;
	height: 1.1rem;
}
.date_time ul{
	width: 6.7rem;
	height: 1.1rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.date_time ul li{
	width: .95rem;
	height: 1.1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;align-items: center;
}
.date_time ul li h2{
	font-size: .3rem;
	font-family: "苹方";
	color: #999999;
}
.jifen{
	width:.4rem ;
	height: .4rem;
	border-radius:50%;
	background-color: #FF5E46;
	font-size: .26rem;
	font-family: "苹方";
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: .2rem;
}
.date_info{
	width: 6.7rem;
	height: 3.3rem;
	background-color: #FF5E46;
	border-radius: .1rem;
	margin-top: .4rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.info{
	width: 6.35rem;
}
.info h1{
	font-size: .26rem;
	font-family: "苹方";
	color: white;
}
.info h1 span{
	font-size: .4rem;
}
.yellow{
	width: 6.35rem;
	height: 1.6rem;
	position: relative;
}
.num_box{
	width: 6.35rem;
	height: 1rem;
	position: absolute;
	bottom: 0rem;
}
.num{
	width: 6.35rem;
	height: .4rem;
	font-size: .32rem;
	color: white;
	}
.left{
	float: left;
}
.right{
	float: right;
}
.range{
	width: 6.35rem;
	height: .2rem;
	position: relative;
}
.range1{
	width: 6.35rem;
	height: .15rem;
	background-color: white;
	border-radius: .5rem;
}
.range2{
	width: 56%;
	height: .15rem;
	background-color: #eecf8b;
	border-radius: .5rem;
	position: absolute;
	top: 0rem;
}
.float{
	width: .9rem;
	height: .4rem;
	background-color: #eecf8b;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0.05rem;
	position: absolute;
	top: .4rem;
	left: 3.05rem;
}
.float span{
	font-size: .3rem;
	color: white;
}
.sanjiao{
	width: .1rem;
	height: .1rem;
	background-color: #EECF8B;
	border-radius: 0.04rem;
    transform: rotate(45deg);
	position: absolute;
	top:.75rem;
	left: 3.45rem;
}
.renwu{
	width: 7.5rem;
	margin-top: .5rem;
	position: relative;
}
.title{
	width: 1.75rem;
	height: .6rem;
	padding-left: .3rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-bottom: .2rem;
}
.title span{
	font-size: .32rem;
	font-family: "黑体";
	color: #333333;
	padding-left: .2rem;
}
.orange{
	width: 0.04rem;
	height: .3rem;
	background-color: #FF5E46;
}
.renwu ul{
	width: 7.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.renwu ul li {
	width: 7.5rem;
	height: 1.1rem;
	position: relative;
	border-bottom: 0.01rem solid #EEEEEE;
}
.text{
	margin-left: .4rem;
	float: left;
	position: absolute;
	top: .2rem;
}
.text h3{
	font-size: .28rem;
	font-family: "苹方";
	color: #666666;
}
.text h3 span{
	padding-left: .2rem;
}
.text h3 span b{
	font-size: .28rem;
	font-family: "苹方";
	color: #FF5E46;
}
.text p{
	font-size: .22rem;
	font-family: "苹方";
	color: #666666;
}
.go{
	width: 1.3rem;
	height: .5rem;
	border-radius: .5rem;
	background-color: #FF5E46;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: .3rem;
	right: .4rem;
}
.go a{
	font-size: .24rem;
	font-family: "苹方";
	color: white;
}
@media screen and (max-width:375px) {
		 html{ font-size: 50px;}
		 
	 }
