@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1652670823562') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwuche:before {
  content: "\e611";
}

.icon-wode:before {
  content: "\e642";
}

.icon-shouye:before {
  content: "\e8c6";
}

.icon-fenlei:before {
  content: "\e789";
}

.icon-xiasanjiaoxing:before {
  content: "\e643";
}

.icon-shangsanjiaoxing:before {
  content: "\e644";
}

.icon-sousuo:before {
  content: "\e613";
}

.icon-shuxian:before {
  content: "\e638";
}

.icon-zuojiantou:before {
  content: "\e60b";
}

.icon-youjiantou_huaban:before {
  content: "\e63e";
}

.icon-dianzanaixin:before {
  content: "\e60c";
}

.icon-xianyonghoufu:before {
  content: "\e63f";
}

.icon-fenxiang:before {
  content: "\e61f";
}

.icon-shezhongrenyuan:before {
  content: "\e617";
}

